html, body {
    margin: 0;
    padding: 0;
    font-family: Graphik LCG, sans-serif;
    background: rgba(229, 229, 229, 0.5);
}

a {
    color: #005DE8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 1100px;
    margin: auto;
}

header {
    background: #fff;   
}

header .inner-grid {
    max-width: 1100px;
    height: 67px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #4F4F4F;
    background: url(/img/logo.svg) no-repeat;
    padding-left: 32px;
    background-position-y: 7px; 
}

.header-select-box {
    height: 38px;
}

.header-select-box select {
    height: 100%;
    width:80px;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
    border-radius: 3px;
    padding-left: 11px;
}

.header-select-box button {
    height: 100%;
    background: #4385DC;
    border: 1px solid #4E79B3;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    margin-left: 12px;
    font-size: 18px;
    width: 185px; 
}

.content-box_grid-section {
    background: #fff;
}

.cb_content-box {

}

.search-section {
    box-sizing: border-box;
    margin: 38px 0;
    display: flex;
    justify-content: space-between; 
    height: 38px;
}

.search-section input {
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    width: 550px;
    font-size: 15px;
    padding-left: 40px;
    background-image: url(/img/Vector.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: 11px;

}

.search-section select {
    width: 205px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
    border-radius: 3px;
    padding-left: 10px;
}

.search-section button {
    width: 90px;
    font-size: 15px;
    background: #4385DC;
    border: 1px solid #4E79B3;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;

}

.site-nav {
    border-bottom: 1px solid #E0E0E0;
    margin: 0 0 42px 0;
    padding-bottom: 9px; 
}

.site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav ul li {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 20px;
}

.site-nav .active-filter {
    color: #4385DC;
}

.site-nav .active-filter::after {
    content: "";
    height: 4px;
    width: 100%;
    background: #4385DC;
    display: block;
    position: relative;
    top: 9px;
}

.site-nav .active-filter::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #4385DC;
}

.content-box {
    margin-bottom: 33px;
}

.content-box:last-child {
    margin-bottom: 0;
}

.content-box_grid-section {
    display: flex;
    height: fit-content;
    padding: 17px 19px 17px 25px;
    box-sizing: border-box;
}

.site-preview {
    width: 403px;
    height: 223px;
    background: url(/img/site-preview.jpg) center no-repeat;
    background-size: contain;
    margin-right: 32px;
    margin-top: 5px;
}

.cb_content-box {
    max-width: 607px;
    position: relative;
}

.cb_content-box .status {
    position: absolute;
    top: 0;
    right: -14px;
    color: #27AE60;
    font-size: 14px;
    font-weight: bold;
}

.cb_content-box_title h2 {
    font-size: 18px;
    color: #333;
    display: inline-block;
    margin: 0 9px 7px 0;
}

.cb_content-box>p {
    margin: 0 0 15px 0;
    font-size: 15px;
    padding-bottom: 12px;
    box-sizing: border-box;
    border-bottom: 1px solid #E0E0E0;
    line-height: 1.2;
}


.cb_content-box .tags ul {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
}

.cb_content-box .tags ul li {
    display: inline-block;
}

.cb_content-box .tags ul li a {
    font-size: 12px;
}

.options-block section h6 {
    margin: 0;
    padding-bottom: 8px;
    box-sizing: border-box;
    font-size: 12px;
    color: #828282;
}

.options-block section .localization-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.options-block section .localization-list li {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.options-block section .localization-list li:not(:last-child)::after {
    content: ",";
}

.options-block section p {
    margin: 0;
    padding-bottom: 8px;
    font-size: 14px;        
}

.options-block section p:last-child {
    padding-bottom: 14px;
} 

.footer-divider {
    display: flex;
    justify-content: center;
    height: 63px;
    align-items: center;
}

.footer-divider span {
    background: #333333;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 4px;
}

footer { 
    height: 67px;
    background: #fff;
}

footer div {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 12px;
    margin: auto;
}

footer div span a {
    margin-right: 20px;
    text-transform: capitalize;
}